html, body
   text-align: center
   background: rgb( 200, 200, 200)

header
   position: fixed
   top: 0
   width: 100%
   background: rgb(56,56,56)

main
   margin-top: 7%


#slider
   width: 300px

.projects
   margin: auto
   width: 100%
   position: fixed
   bottom: 0
   background: rgb(56,56,56)

@media (min-width: 750px)
   #slider
      width: 50%